<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title> COS30018 Intelligent Systems - Handwritten Number Recognition System</title>
		<script src=""></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<header>
			<h1>COS30018 Intelligent Systems - Handwritten Number Recognition System</h1>
		</header>

		<main>
			<div class="section">

				<h2>Dashboard</h2>
				
			</div>
	
			<div class="section">
				<h2>Control Panel</h2>
	
				<h3>Test functions</h3>
				<a href="/action1">function1</a>
				<a href="/action2">function2</a>
	

			</div>
		</main>
	</body>
</html>

